
<div class="container span4">


  <div ng-show="showSudoku" class="sudokubox animated ">
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
        <table>
          <tr ng-repeat="row in sudoku track by $index">
            <td class="sudokucell row{{$index}} col{{$parent.$index}} animated fadeIn" ng-repeat="cell in row track by $index">
              <!--input ng-model="sudoku.row.$index" style="max-width:10px;" size="1" type="text" value="{{ cell }} " size="1" -->
              <input ng-model="row[$index]" style="max-width:10px;" type="text" size="1">
            </td>
          </tr>
        </table>
    </div>
    <div class="sudokubuttons">
      <button id="solve" ng-click="solve()">Solve</button>
      <button id="clear" ng-click="reset()">Reset</button>
      <button id="reset" ng-click="clear()">Clear</button>
    </div>
  </div>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
